.nav-logo__link {
  font-size: 13px;
  letter-spacing: 3px;
  color: #4d4959;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
}

.section-ng__title, .section-vo-info__title, .section-lb-info__title, .section-rb-info__title, .slide__title-text {
  font-size: 18px;
  letter-spacing: 4px;
  color: #353738;
  font-family: "Lato";
  font-weight: 700;
}

.section-ng__text, .section-vo-info__text, .section-lb-info__text, .section-rb-info__text, .slide__title-time {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  font-family: "Lato";
  font-weight: 400;
}

.slide__text, .sye__title {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol {
  list-style: none;
}

.header {
  background-image: url("../img/headerbg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: #EAE9EF;
  z-index: 10000;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 620px;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.nav-logo__logo {
  display: block;
}

.nav-logo__link {
  display: block;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .nav-logo__link:hover {
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.section-ng {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-ng__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-ng__title {
  margin-top: 35px;
}

.section-ng__text {
  margin-top: 35px;
}

.section-vo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-vo-bike-img {
  width: 66.66666%;
  position: relative;
}

.section-vo-bike-img::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/logos/logo (5).png") no-repeat center center;
  position: absolute;
  z-index: 2;
}

.section-vo-bike-img.img {
  width: 100%;
  height: 100%;
}

.section-vo-info-pof-img {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-vo-info {
  height: 66.66666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.section-vo-info__logo {
  text-align: center;
}

.section-vo-info__title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.section-vo-info__text {
  font-size: 16px;
  line-height: 30px;
  width: 75%;
  margin: 25px auto 0;
}

.section-vo-partofbike-img {
  display: block;
  height: 33.33333%;
}

.section-lb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-lb-bike-img {
  width: 66.66666%;
  position: relative;
}

.section-lb-bike-img::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/logos/logo (1).png") no-repeat center center;
  position: absolute;
  z-index: 2;
}

.section-lb-bike-img.img {
  width: 100%;
  height: 100%;
}

.section-lb-info-pof-img {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-lb-info {
  height: 66.66666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.section-lb-info__logo {
  text-align: center;
}

.section-lb-info__title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.section-lb-info__text {
  font-size: 16px;
  line-height: 30px;
  width: 75%;
  margin: 25px auto 0;
}

.section-lb-partofbike-img {
  display: block;
  height: 33.33333%;
}

.section-rb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-rb-bike-img1 {
  width: 33.33333%;
  position: relative;
}

.section-rb-bike-img1::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/logos/logo (2).png") no-repeat center center;
  position: absolute;
  z-index: 2;
}

.section-rb-bike-img1.img {
  width: 100%;
  height: 100%;
}

.section-rb-info-pof-img {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-rb-info {
  height: 66.66666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.section-rb-info__logo {
  text-align: center;
}

.section-rb-info__title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.section-rb-info__text {
  font-size: 16px;
  line-height: 30px;
  width: 75%;
  margin: 25px auto 0;
}

.section-rb-partofbike-img {
  display: block;
  height: 33.33333%;
}

.section-rb-bike-img2 {
  width: 33.33333%;
}

.section-rb-bike-img2.img {
  width: 100%;
  height: 100%;
}

.slider-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 175px;
}

.slide {
  outline: none;
  text-align: center;
}

.slide__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.slide__title-time {
  line-height: 18px;
}

.slide__text {
  margin-top: 25px;
}

.section-sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-sn-saddles {
  width: 33.33333%;
}

.section-sn-saddles-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.section-sn-saddles-top > div {
  width: 50%;
}

.section-sn-saddles-bottom {
  height: 50%;
}

.section-sn-bikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333%;
}

.section-sn-bikes > div {
  width: 50%;
}

.section-sn-another {
  width: 33.33333%;
}

.section-sn-another-top {
  height: 50%;
}

.section-sn-another-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.section-sn-another-bottom > div {
  width: 50%;
}

.shop-now {
  position: relative;
}

.shop-now a {
  display: block;
  height: 100%;
}

.shop-now a img {
  display: block;
  height: 100%;
  width: 100%;
}

.shop-now:hover .shop-now-hover {
  opacity: 1;
}

.shop-now-hover {
  background: rgba(100, 194, 158, 0.8) url("../img/logos/logo (4).png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  opacity: 0;
}

.section-dts {
  background: #282f35;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-dts-link {
  width: 300px;
  height: 50px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  border: 1px #94979a solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.section-dts-link:hover {
  background: #4D4959;
}

.section-sye {
  height: 470px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.sye {
  width: 535px;
  margin: 0 auto;
  text-align: center;
}

.sye__title {
  margin-top: 40px;
}

.sye__form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sye .sye__form-email {
  width: 400px;
  height: 70px;
  border: 1px #d3d7d9 solid;
  font-size: 20px;
}

.sye .sye__form-email::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
  padding-left: 20px;
}

.sye .sye__form-email:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
  padding-left: 20px;
}

.sye .sye__form-email::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
  padding-left: 20px;
}

.sye .sye__form-email::placeholder {
  font-size: 20px;
  font-family: "Lato";
  color: rgba(146, 146, 146, 0.502);
  font-style: italic;
  line-height: 1.2;
  padding-left: 20px;
}

.sye .sye__form-btn {
  font-size: 24px;
  font-family: "Lato";
  font-weight: 300;
  background: #64c29e;
  width: 125px;
  height: 70px;
  color: #fff;
}

.footer {
  background: #f7f7f7;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-contacts__name {
  font-size: 16px;
  font-family: "Lato";
  color: #848789;
  font-weight: bold;
  line-height: 18px;
}

.footer-contacts__info {
  font-size: 14px;
  font-family: "Lato";
  color: #848789;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.33333%;
}

.twitter {
  display: block;
  background: #78cdf0;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 15px;
}

.twitter .fab {
  color: #fff;
}

.twitter:hover .fa-twitter {
  color: #282f35;
}

.facebook {
  display: block;
  background: #537bbd;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 15px;
}

.facebook .fab {
  color: #fff;
}

.facebook:hover .fa-facebook-f {
  color: #282f35;
}

.pinterest {
  display: block;
  background: #eb5755;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.pinterest .fab {
  color: #fff;
}

.pinterest:hover .fa-pinterest {
  color: #282f35;
}

.footer-handcraft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.33333%;
}

.footer-handcraft__text {
  font-size: 14px;
  font-family: "Lato";
  color: #848789;
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  margin-right: 10px;
  padding-top: 5px;
}

.footer-handcraft__logo {
  display: block;
}
/*# sourceMappingURL=1.css.map */