@import  'variables';
//Обнуление

*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

ul,ol {
    list-style: none;
}
// Header
.header {
  
    background-image: url('../img/headerbg.jpg');
    background-position: top center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
// fixed-header(nav)
.fixed-header{
    position: fixed;
    width: 100%;
    background-color:#EAE9EF;
    z-index: 10000;
}
.nav-logo {
    display: flex;
    min-width: 620px;
    width: 40%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 150px;

    &__logo {
        display: block;
    }
   
    &__link {
        @extend %nav;
        display: block;
        text-decoration: none;
    }
    &__link:hover {
        @media (min-width : 1025px) {
            background-color: #fff;
            transition: .5s;
        }
    }
}
// burger menu
.burger-btn{
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    margin-top: 60px;
    margin-right: 15px;
}
.burger-btn span{
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 14px;
    transition: .3s;
}
.burger-btn::before,
.burger-btn::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 3px;
    left: 0;

    transition: .3s;
}

.burger-btn::before{
    top: 0;
}
.burger-btn::after {
    bottom: 0;
}

.burger-btn.active span{
    transform: scale(0);
}
.burger-btn.active:before{
    transform: rotate(45deg);
    top: 14px;
}
.burger-btn.active:after {
    transform: rotate(-45deg);
    bottom: 14px;   
}
.burger-menu {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #EAE9EF;
    z-index: -1;

    transition: .3s;
    overflow: auto;
   
}
.burger-menu.active{
    top: 0;
}
.burger-menu-links{
    margin-top: 180px;
    
    

    a{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 50px 0;
        color:#000;
        text-transform: uppercase;
        font-size: 30px;
        
        
    }
}
.burger-logo{
    display: none;
    margin-top: 35px;
    margin-left: 15px;
}
@media (max-width: 992px){
    .burger-btn {
        display: block;
    }
    body.lock{
        overflow: hidden;
    }
    
    .nav-logo{
        display: none;
    }
    .fixed-header{
        height: 150px;
        display: flex;
        justify-content: space-between;
    }
    .burger-logo{
        display: inline-block;
        
    }
}


// Section-NewGeneration

.section-ng {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    
    
    &__logo {
        display: flex;
        justify-content: center;
        
        
    }

    &__title {
        @extend %title;
        margin-top: 35px;
    }

    &__text {
        @extend %text;
        margin-top: 35px;
    }
}

// vintage oliva

.section-vo {
    display: flex;  
}

.section-vo-bike-img {
    
    width: 66.66666%;
    
    position: relative;

}

.section-vo-bike-img::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/logos/logo (5).png') no-repeat center center ;
    position: absolute;
    z-index: 2;
}
.section-vo-bike-img.img{
    width: 100%;
    height: 100%;
    
}
.section-vo-info-pof-img {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.section-vo-info {
    height: 66.66666%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    

    
    &__logo {
        text-align: center;
    }

    &__title {
        @extend %title;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;

    }

    &__text {
        @extend %text;
        font-size: 16px;
        line-height: 30px;
        width: 75%;
        margin: 25px auto 0;
    }
}

.section-vo-partofbike-img {
    display: block;
    height: 33.33333%;
}


// LA Bariosa
.section-lb {
    display: flex;



}

.section-lb-bike-img {
    
    width: 66.66666%;
    position: relative;

    
}
.section-lb-bike-img::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/logos/logo (1).png') no-repeat center center;
    position: absolute;
    z-index: 2;
}

.section-lb-bike-img.img {
    width: 100%;
    height: 100%;
    
}

.section-lb-info-pof-img {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section-lb-info {
    
    height: 66.66666%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    &__logo {
        text-align: center;
    }

    &__title {
        @extend %title;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;

    }

    &__text {
        @extend %text;
        font-size: 16px;
        line-height: 30px;
        width: 75%;
        margin: 25px auto 0;
        
    }
}

.section-lb-partofbike-img {
    display: block;
    height: 33.33333%;
}

//Retro Bike 

.section-rb {
    display: flex;
}
.section-rb-bike-img1{
    
    width: 33.33333%;
    position: relative;
}
.section-rb-bike-img1::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/logos/logo (2).png') no-repeat center center;
    position: absolute;
    z-index: 2;
}

.section-rb-bike-img1.img {
    width: 100%;
    height: 100%;
   
}




//Center part
.section-rb-info-pof-img {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-rb-info {

   height: 66.66666%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 10px 0;

   &__logo {
       text-align: center;
   }

   &__title {
       @extend %title;
       margin-top: 30px;
       text-align: center;
       text-transform: uppercase;

   }

   &__text {
       @extend %text;
       font-size: 16px;
       line-height: 30px;
       width: 75%;
       margin: 25px auto 0;

   }
}

.section-rb-partofbike-img {
    display: block;
    height: 33.33333%;
}
// the end center part
.section-rb-bike-img2 {
    
    width: 33.33333%;
}
.section-rb-bike-img2.img{
    width: 100%;
    height: 100%;
    
}


// slider
.slider-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 175px;
   
}

.slide {
    outline: none;
    text-align: center;
    &__icon {

    }

    &__title {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    &__title-text {
        @extend %title;
        
    }

    &__title-time {
        line-height: 18px;
        @extend %text;
        
    }

    &__text {
        margin-top: 25px;
        @extend %slider__text;
    }
}


// shop now

.section-sn{
    display: flex;
   
}
// saddles
.section-sn-saddles {
    width: 33.33333%;
    
}

.section-sn-saddles-top {
    display: flex;
    height: 50%;
    
}
.section-sn-saddles-top > div{
    
    width: 50%;
}
.section-sn-saddles-bottom {
    height: 50%;
}


// bikes
.section-sn-bikes {
    display: flex;
    width: 33.33333%;
}
.section-sn-bikes > div{
    
    width: 50%;
}



// another
.section-sn-another {
    width: 33.33333%;
    
}

.section-sn-another-top {
    height: 50%;
    
}

.section-sn-another-bottom {
    display: flex;
    height: 50%;
}
.section-sn-another-bottom > div{
    width: 50%;
}


//shop-now hover effect

.shop-now{
    position: relative;
   
}

.shop-now{
    a{
        display: block;
        height: 100%;
        img{
           display: block;
           height: 100%;
           width: 100%;
           
        }
    }
} 
.shop-now:hover .shop-now-hover {
    opacity: 1;
    
}
.shop-now-hover{
    
    background: rgba(100, 194, 158, 0.8) url('../img/logos/logo (4).png') no-repeat center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: .5s linear;
    opacity: 0;

}

// discover the shop

.section-dts {
    background: #282f35;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-dts-link {
    width: 300px;
    height: 50px;
    
    display: block;
    text-decoration: none;
   

    font-size: 14px;
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
    border: 1px #94979a solid;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    
}
.section-dts-link:hover{
    background: #4D4959;
}
// send your e-mail
.section-sye {
    height: 470px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.sye {
    width: 535px;
    margin: 0 auto;
    text-align: center;
    &__logo {}

    &__title {
        @extend %slider__text;
        margin-top: 40px;
    }

    &__form {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        
    }
    .sye__form-email{
        width: 400px;
        height: 70px;

        border: 1px #d3d7d9 solid;

        font-size: 20px;
    }
    .sye__form-email::placeholder{
        
        font-size: 20px;
        font-family: "Lato";
        color: rgba(146, 146, 146, 0.502);
        font-style: italic;
        line-height: 1.2;
        padding-left: 20px;

    }
    .sye__form-btn{

        font-size: 24px;
        font-family: "Lato";
        font-weight: 300;
           
        background: #64c29e;
        width: 125px;
        height: 70px;
        color: #fff;

    
    }

}


// footer
.footer {
    background: #f7f7f7;
    height: 250px;
    display: flex;
    align-items: center;
    
    
    
}

// footer-contacts
.footer-contacts {
    width: 33.33333%;

    display: flex;
    justify-content: center;

    
    
    
    
    &__name {

        font-size: 16px;
        font-family: "Lato";
        color: #848789;
        font-weight: bold;
        line-height: 18px;

}

    &__info {
        font-size: 14px;
        font-family: "Lato";
        color: #848789;
        font-weight: 400;
        line-height: 18px;
        font-style: italic;

    }
}

// social links
.footer-social-links {
    display: flex;
    justify-content: center;

    width: 33.33333%;
    

   
}

// twitter
.twitter {
    display: block;
    background: #78cdf0;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;

    .fab {

        color: #fff;
    }
}

.twitter:hover .fa-twitter {
    color: #282f35;
}

// facebook
.facebook {
    display: block;
    background: #537bbd;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;

    .fab {
        color: #fff;
    }

}

.facebook:hover .fa-facebook-f {
    color: #282f35;
}

// pinterest
.pinterest {
    display: block;
    background: #eb5755;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .fab {
        color: #fff;
    }
}

.pinterest:hover .fa-pinterest {
    color: #282f35;
}
// footer-handcraft 
.footer-handcraft {
    display: flex;
    justify-content: center;
    
    width: 33.33333%;
    
    &__text {
        font-size: 14px;
        font-family: "Lato";
        color: #848789;
        font-weight: 400;
        line-height: 18px;
        font-style: italic;

        margin-right: 10px;
        padding-top: 5px;
    }

    &__logo {
        display: block;
    }
}

